  {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  
  <nav class="py-4" role="navigation" aria-label="breadcrumbs">
    <ol class="text-[10px] uppercase tracking-[1.5px] text-left">
      <li class="inline-block hover:underline hover:underline-offset-2">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">Inicio</a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="inline-block hover:underline hover:underline-offset-2">
            <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
            <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
            <li class="inline-block hover:underline hover:underline-offset-2">
              {{ collection.title | link_to: collection.url }}
            </li>
          {%- endif -%}
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          <li class="inline-block hover:underline hover:underline-offset-2">
            <a href="collections/all">Productos</a>
          </li>
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          <li class="inline-block hover:underline hover:underline-offset-2">
            <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
          </li>
        {%- when 'collection' and collection.handle -%}
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          {%- if current_tags -%}
            <li class="inline-block hover:underline hover:underline-offset-2">
              {{ collection.title | link_to: collection.url }}
            </li>
            <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
            <li class="inline-block hover:underline hover:underline-offset-2">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
            </li>
          {%- else -%}
            <li class="inline-block hover:underline hover:underline-offset-2">
              <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          {%- if current_tags -%}
            <li class="inline-block hover:underline-offset-2">
              {{ blog.title | link_to: blog.url }}
            </li>
            <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
            <li class="inline-block hover:underline hover:underline-offset-2">
              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {%- else -%}
            <li class="inline-block hover:underline hover:underline-offset-2">
              <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          <li class="inline-block hover:underline hover:underline-offset-2">
            {{ blog.title | link_to: blog.url }}
          </li>
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          <li class="inline-block hover:underline hover:underline-offset-2">
            <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
          </li>
        {%- else -%}
          <span aria-hidden="true" class="breadcrumb__sep">&nbsp;&rsaquo;&nbsp;</span>
          <li class="inline-block hover:underline hover:underline-offset-2">
            <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
          </li>
      {%- endcase -%}
    </ol>
  </nav>
  {%- endunless -%}