<a href="{{ card_product.url }}">
    <div class="card w-full group transition-all ease-in-out">
        <div class="relative">
            {% if card_product.media[1] != blank %}
            {% assign class_main = 'group-hover:hidden' %}
            {% else %}
            {% assign class_main = '' %}      
            {% endif %}
            {{ card_product.featured_media | image_url: width:900 | image_tag: loading: 'lazy', class: class_main }}
            {% if card_product.media[1] != blank %}
            {{ card_product.media[1] | image_url: width:900 | image_tag: loading: 'lazy', class: 'hidden group-hover:block' }} 
            {% endif %}
            {% if card_product.price < card_product.compare_at_price_max %}
            {% assign porcentage = card_product.compare_at_price_max | minus:card_product.price | times:100 | divided_by:card_product.compare_at_price_max %}
            <span class="absolute right-2 top-2 bg-[#00abdd] text-white font-bold leading-none text-base md:text-xl tracking-[1.5px] p-1">
               {{ porcentage }}%<br>
               OFF. 
            </span>
            {% endif %}
            {% if card_product.available == false %}
            <span class="absolute left-2 bottom-2 bg-[#121212] text-white font-bold leading-none text-base md:text-xl tracking-[1.5px] p-1">
                OUT
            </span>      
            {% endif %}
            {% if card_product.available and card_product.tags contains 'new' or card_product.tags contains 'NEW' %}
            <span class="absolute left-2 bottom-2 bg-[#00abdd] text-white font-bold leading-none text-base md:text-xl tracking-[1.5px] p-1">
                NEW
            </span>      
            {% endif %}
        </div>
        <div class="py-4 px-4">
            {% render 'shipping-color-snippet', tags: card_product.tags, size: 'text-[10px]', product_id: card_product.selected_or_first_available_variant.id %}
            <p class="uppercase tracking-[1.5px] text-xs md:text-sm mb-2">{{ card_product.title }}</p>
            
            {% if card_product.price < card_product.compare_at_price_max %}
            <div class="text-left">
                <p class="text-sm md:text-xl tracking-[1.5px] font-bold inline-flex">{{ card_product.price | money}}</p>
                <s class="text-[10px] md:text-sm inline-flex">{{ card_product.compare_at_price_max | money }}</s>       
            </div>
            {% else %}
            <div class="flex">
                <p class="text-base md:text-xl tracking-[1.5px] font-bold">{{ card_product.price | money}}</p>   
            </div>    
            {% endif %}     
        </div>
    </div>
</a>
{% if card_product.available and request.page_type == 'index' %}
{% comment %}
 Component Cart: 

 @addToCart function come from drawer cart component in drawer-cart.liquid snippet, this component trigger the two events cart-updated who fetch cart template in every cart event update and toggle cart event who trigger the open and close action of the drawer cart.

{% endcomment %}
<div x-data="{
     addToCart(){
        let formData = new FormData(this.$refs.card_product_form)
        fetch('/cart/add.js',{
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(response => {
            this.$dispatch('cart-updated');
            this.$dispatch('toggle-cart');
        })
        .catch(error=> console.error('Error: ', error))
     }
}"
class="px-4"
>
    <form action="{{ routes.add_to_cart }}" x-ref="card_product_form">
        <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}">
        <input type="hidden" name="quantity" value="1">
        <button type="button" @click="addToCart" class="w-full flex border border-[#121212] justify-between items-center hover:opacity-[0.7]">
            <span class="uppercase tracking-[1.5px] text-sm text-center block w-full">Agregar al Carrito</span>
            <span class="bg-[#121212] text-white text-xl px-2">+</span>    
        </button>
    </form>
</div>
{% endif %}