{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper my-12" id="Pagination">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="pagination__list list-unstyled text-center" role="list">
      {%- if paginate.previous -%}
        <li class="inline-block">
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce font-light px-2 block hover:opacity-[0.7]" aria-label="{{ 'general.pagination.previous' | t }}">
            {% render 'icon-caret', class: 'w-5 rotate-90' %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li class="inline-block">
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="pagination__item link px-2 block hover:opacity-[0.7]" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="pagination__item pagination__item--current underline underline-offset-2 px-2 block" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="pagination__item">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="inline-block px-2">
          <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce hover:opacity-[0.7]" aria-label="{{ 'general.pagination.next' | t }}" >
            {%- render 'icon-caret', class: 'w-5 rotate-[270deg]' -%}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}