
{% liquid 
    assign main_tag = "" 
   
    if tags contains "DExpress"
        assign main_tag = "DExpress" 
        assign color = "#008000"
    elsif tags contains "5days"
        assign main_tag = "5days" 
        assign color = "#E5AB5A"
    elsif tags contains "10days"
        assign main_tag = "10days" 
        assign color = "#ff0000"        
    endif
%}

<style>
    #trafficColor-{{ product_id }}{
        display:block !important;
        background-color: {{ color }};
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
</style>
{% if main_tag != "" %}
<div class="flex gap-2 pb-2 items-center" data-color="{{ color }}" data-tag="{{ main_tag }}">
    {% render 'icon-shipping' %}
    <div id="trafficColor-{{ product_id }}"></div>
    <p class="{{ size }} uppercase tracking-[2.5px]">
        {% case main_tag %}
        {% when 'DExpress' %}
        48 horas hábiles
        {% when '5days' %}
        5 - 10 días hábiles
        {% when '10days'%}
        10 - 15 días hábiles
        {% endcase %}
    </p>
</div>
{% endif %}