<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="connonical" href="{{ canonical_url }}">
    
    
    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

     <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% render 'meta-tags' %}

    <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ content_for_header }} 

    {% style %}
       :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --page-width: {{ settings.page_width }}px;
      }
     
     *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 16px;
        height: 100%;
      }

      body{
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        font-size: 1rem;
        font-family: var(--font-body-family);
        color: #121212;
        scroll-behavior: smooth;
      }


    {% endstyle %}
    
    {{ 'styles.css' | asset_url | stylesheet_tag }}
</head>
<body data-scroller>   
    {% section 'header' %}
    <main data-main>
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  <script>
    window.shopUrl = '{{ request.origin }}';
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };

    // window.cartStrings = {
    //   error: `{{ 'sections.cart.cart_error' | t }}`,
    //   quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
    // }

    // window.variantStrings = {
    //   addToCart: `{{ 'products.product.add_to_cart' | t }}`,
    //   soldOut: `{{ 'products.product.sold_out' | t }}`,
    //   unavailable: `{{ 'products.product.unavailable' | t }}`,
    // }

    // window.accessibilityStrings = {
    //   imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
    //   shareSuccess: `{{ 'general.share.success_message' | t }}`,
    //   pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
    //   playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
    // }
    
    window.currency = {
      code: '{{ cart.currency.iso_code }}',
      symbol: '{{ cart.currency.symbol }}'
    }
  </script>
</body>
</html>