<footer class="footer bg-[#121212] text-white">
   <div class="page-width">
       <div class="pt-12 pb-8">
            <div class="footer__grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 text-sm mb-4">
                <div class="showroom">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Nuestro Showroom</h2>
                    <ul>
                        <li class="py-2">
                            <a href="#" class="hover:underline hover:underline-offset-2">
                                Alférez Real 1481, Providencia.
                            </a>
                        </li>
                        <li class="py-2">
                            Lunes - Viernes : 08:00 a 21:00 hrs.
                        </li>
                        <li class="py-2">
                            Sábado - Domingo : 09:00 a 18:00 hrs.
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Contáctanos</h2>
                    
                    <ul>
                        <li class="py-2">
                            <a href="mailto:hola@kallfu.pro" class="hover:underline hover:underline-offset-2">
                                hola@kallfu.pro
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://api.whatsapp.com/send/?phone=56979532074&text=Hola%2C+quiero+saber+mas+sobre+los+descuentos+del+CYBER&app_absent=0" class="hover:underline hover:underline-offset-2" target="_blank">
                                +56 979532074  
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="tel:+56264690110" class="hover:underline hover:underline-offset-2">
                                +56 264690110
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="politics">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Políticas</h2>
                    <ul>
                        <li class="py-2">
                            <a href="/policies/terms-of-service" class="hover:underline hover:underline-offset-2">
                                 Términos de Servicio
                            </a> 
                         </li>
                         <li class="py-2">
                             <a href="/policies/refund-policy" class="hover:underline hover:underline-offset-2">
                                 Política de reembolso
                             </a> 
                         </li>
                         <li class="py-2">
                             <a href="/policies/privacy-policy" class="hover:underline hover:underline-offset-2">
                                 Política de Privacidad
                             </a> 
                         </li>
                         <li class="py-2">
                             <a href="/policies/shipping-policy" class="hover:underline hover:underline-offset-2">
                                 Términos de envío
                             </a> 
                         </li>
                    </ul>
                </div>
                <div class="kallfu">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Kallfü</h2>
                    <ul>
                        <li class="py-2">
                            <a href="/pages/nosotros" class="hover:underline hover:underline-offset-2">
                                Sobre Nosotros
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://api.whatsapp.com/send/?phone=56979532074&text=Hola%2C+quiero+saber+mas+sobre+los+descuentos+del+CYBER&app_absent=0" class="hover:underline hover:underline-offset-2" target="_blank">
                                Post-venta
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="marketplaces">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Encuéntranos en</h2>
                    <ul>
                        <li class="py-2">
                            <a href="https://depto51.com/collections/kallfu-pro" target="_blank" class="hover:underline hover:underline-offset-2">
                               Depto51 
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://listado.mercadolibre.cl/kallfu.pro" target="_blank" class="hover:underline hover:underline-offset-2">
                               Mercado Libre 
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://www.paris.cl/kallfu.pro" target="_blank" class="hover:underline hover:underline-offset-2">
                               París
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://www.sodimac.cl/sodimac-cl/product/685771X/escritorio-mima-140-x-60-blanco/685771X/?queryId=9cb46d4d-dd30-4ef2-8a89-04dbdb2b22ea" target="_blank" class="hover:underline hover:underline-offset-2">
                               Sodimac 
                            </a>
                        </li>
                        <li class="py-2">
                            <a href="https://www.falabella.com/falabella-cl/product/16119270/Estanteria-100-Black/16119274" target="_blank" class="hover:underline hover:underline-offset-2">
                               Falabella 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="payment-methods">
                    <h2 class="mb-[1rem] uppercase font-bold text-xl">Métodos de pago</h2>
                    <ul>
                        <li class="py-2">
                            <span>Transferencia bancarias</span>
                        </li>
                        <li class="py-2">
                            <img src="https://cdn.shopify.com/s/files/1/0511/7879/9287/files/2.WebpayPlus_FN_800px_medium_1_medium.png?v=1637580483" alt="webpay plus" width="108">
                        </li>
                        <li class="py-2">
                            <img src="https://cdn.shopify.com/s/files/1/0511/7879/9287/files/LOGO_MERCADO_PAGO_medium_1_medium.png?v=1637580491" alt="mercado pago" width="108">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="follow-us mb-4">
                <h2 class="mb-[1rem] uppercase font-bold text-xl">Síguenos</h2>
                <ul role="list" class="flex gap-x-4 items-center">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item hover:opacity-[0.7]">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo', class:'w-6 h-6' -%}
                          <span class="sr-only">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                </ul>
            </div>
            <div class="copyright flex justify-between items-center mt-14">
                <div>
                    © KALLFÜ PRO | 2022
                </div>
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0511/7879/9287/files/Sello_Confianza_Ecommerce_CCS-01.png?v=1631617448" alt="Cámara de comercio de Santiago" width="60" height="60">
                </div>
            </div> 
       </div>
   </div>
</footer>