{%- if predictive_search.performed -%}
  <div id="predictive-search-results" class="w-full bg-white shadow-md border border-gray-400 rounded">
    <ul role="listbox" aria-labelledby="predictive-search-products">
      {%- for product in predictive_search.resources.products -%}
        <li class="py-4 px-4 border-b border-gray-100 hover:bg-gray-100">
          <a href="{{ product.url }}" class="flex items-center gap-4" tabindex="-1">
            {%- if product.featured_media != blank -%}
            <div class="border border-gray-100 rounded overflow-hidden">
              <img 
              src="{{ product.featured_media | img_url: '150x' }}"
              alt="{{ product.featured_media.alt }}"
              width="50"
              height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
              >
            </div>
            {%- endif -%}
            <div class="tracking-[2.5px] text-xs md:text-sm uppercase">
              <span>{{ product.title }}</span>
            </div>
          </a>
        </li>
      {%- endfor -%}
      <li class="py-4 px-4 hover:bg-gray-100 border-t border-gray-400" role="option">
        <button type="submit" class="text-sm tracking-[2.5px]" tabindex="-1">
          Buscar para <span class="text-undeline font-bold">“{{ predictive_search.terms }}”</span>
        </button>
      </li>
    </ul>
  </div>
{%- endif -%}